<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mongod="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-4.1.xsd  
						http://www.springframework.org/schema/context                
						http://www.springframework.org/schema/context/spring-context-4.1.xsd
						http://www.springframework.org/schema/data/mongo
						http://www.springframework.org/schema/data/mongo/spring-mongo-1.7.xsd">
    <context:annotation-config />
    
    <mongod:mongo-client id="mongo" host="${db.host}" port="${db.port}" credentials="${db.username}:${db.password}@${db.database}">
    	<mongod:client-options write-concern="SAFE"/>
    </mongod:mongo-client>
    
    <!-- 通过工厂Bean创建mongo连接实例,没有密码就把username和password属性删除了-->
    <mongod:db-factory id="mongoDbFactory" dbname="${db.database}" mongo-ref="mongo"/>
    
    <!-- mongo模板操作对象 -->
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
    </bean>
    
    <!-- MongoDB GridFS Template 支持，操作mongodb存放的文件 -->
    <mongod:mapping-converter id="converter" db-factory-ref="mongoDbFactory"/>
    <bean id="gridFsTemplate" class="org.springframework.data.mongodb.gridfs.GridFsTemplate">
      <constructor-arg ref="mongoDbFactory"/>
      <constructor-arg ref="converter"/>
    </bean>
</beans>						